{% extends "base.html" %} {% block content %}
<h1 id="case-studies-and-regulatory-questions">
  Case Studies and Regulatory Questions
</h1>

<p>
  In the VHP4Safety project, three case studies and two regulatory questions
  attributed to each case study are under research. Below are these case studies
  and regulatory questions.
</p>

<ol>
  <li>
    <strong>Kidney Disease:</strong> Disease scenario to study disease and
    pharmacovigilance.
    <ul>
      <li>(a) What is the safe cisplatin dose in cancer patients?</li>
      <li>
        (b) How can we take into account variability in activity and expression
        of P-glycoprotein* in patients who underwent transplantation and were
        treated with tacrolimus?
      </li>
    </ul>
  </li>
</ol>

<blockquote>
  <p>
    *P-glycoprotein 1 (permeability glycoprotein), also known as multidrug
    resistance protein 1 (MDR1) or ATP-binding cassette sub-family B member 1
    (ABCB1) or cluster of differentiation 243 (CD243), is an important protein
    of the cell membrane that pumps many foreign substances out of cells (<a
      href="https://www.uniprot.org/uniprot/P08183"
      class="highlight-link"
      >UniProt:P08183</a
    >).
  </p>
</blockquote>

<ol start="2">
  <li>
    <strong
      >Life Course Pesticide Exposure and Neurodegenerative Disease:</strong
    >
    Life course exposure scenario to study life course exposure and
    neurodegenerative disease.
    <ul>
      <li>(a) Can compound X cause Parkinson’s Disease?</li>
      <li>
        (b) Can we identify groups at extra risk of developing Parkinson’s
        Disease after exposure to compound Y?
      </li>
    </ul>
  </li>
</ol>

<ol start="3">
  <li>
    <strong>Thyroid-Mediated Developmental Neurotoxicity:</strong> Age and sex
    scenario to study health effects discriminated by age and sex on
    thyroid-mediated neurodevelopment.
    <ul>
      <li>
        (a) What information about a compound do we need to advise women in
        early pregnancy on whether the compound can be used?
      </li>
      <li>
        (b) Does compound Z influence thyroid-mediated brain development in the
        fetus, resulting in cognitive impairment in children?
      </li>
    </ul>
  </li>
</ol>
{% endblock %}
