{% extends "base.html" %}

{% block content %}
<h1 id="case-studies-and-regulatory-questions" style="color: white;">Case Studies and Regulatory Questions</h1>

<p style="color: white;">In the VHP4Safety project, three case studies and two regulatory questions attributed to each case study are under research. Below are these case studies and regulatory questions.</p>

<ol type="1" style="color: white;">
<li>Kidney Disease: Disease scenario to study disease and pharmacovigilance.</li>
</ol>

<ul style="color: white;">
<li><ol type="a">
<li style="color: white;">What is the safe cisplatin dose in cancer patients?</li>
</ol></li>
<li><ol start="2" type="a" style="color: white;">
<li>How can we take into account variability in activity and expression of P-glycoprotein* in patients who underwent transplantation and treated with tacrolimus?</li>
</ol></li>
</ul>

<blockquote>
<p style="color: white;">*P-glycoprotein 1 (permeability glycoprotein) also known as multidrug resistance protein 1 (MDR1) or ATP-binding cassette sub-family B member 1 (ABCB1) or cluster of differentiation 243 (CD243) an important protein of the cell membrane that pumps many foreign substances out of cells (UniProt:P08183).</p>
</blockquote>

<ol start="2" type="1" style="color: white;">
<li>Life Course Pesticide Exposure and Neurodegenerative Disease: Life course exposure scenario to study life course exposure and neurodegenerative disease.</li>
</ol>

<ul style="color: white;">
<li><ol type="a" style="color: white;">
<li>Can compound X cause Parkinson’s Disease?</li>
</ol></li>
<li><ol start="2" type="a" style="color: white;">
<li>Can we identify groups at extra risk of developing Parkinson’s Disease after exposure to compound Y?</li>
</ol></li>
</ul>

<ol start="3" type="1" style="color: white;">
<li>Thyroid Mediated Developmental Neurotoxicity: Age and sex scenario to study health effects discriminated by age and sex on thyroid mediated neurodevelopment.</li>
</ol>

<ul style="color: white;">
<li><ol type="a">
<li>What information about a compound do we need to advise women in their early pregnancy to decide whether the compound can be used?</li>
</ol></li>
<li><ol start="2" type="a">
<li>Does compound Z influence the thyroid-mediated brain development in the fetus resulting in cognitive impairment in children?</li>
</ol></li>
</ul>

{% endblock %}
