{% extends "base.html" %} {% block content %}
<h1 id="contact-us">Contact Us</h1>

<p>
  Feel free to contact us at
  <a href="mailto:vhp4safety@uu.nl" class="highlight-link">vhp4safety@uu.nl</a>
  if you have any questions or want to know more about VHP4Safety.
</p>

<p>
  Or find more information on our
  <a href="https://twitter.com/VHP4Safety" class="highlight-link">Twitter</a>
  and
  <a
    href="https://www.linkedin.com/company/virtual-human-platform-for-safety-assessment-vhp4safety/"
    class="highlight-link"
    >LinkedIn</a
  >
  profiles.
</p>

<p>
  Please visit
  <a
    href="https://www.sciencrew.com/c/6596/a/328990448?title=Contact_us"
    class="highlight-link"
    >here</a
  >
  to find more information on how to contact us.
</p>
{% endblock %}
