{% extends "base.html" %}

{% block content %}
<h1 id="contact-us" style="color: white;">Contact Us</h1>

<p style="color: white;">Feel free to contact us at <a href="mailto:vhp4safety@uu.nl" style="color: #E6007E;">vhp4safety@uu.nl</a> if you have any questions or want to know more about VHP4Safety.</p>

<p style="color: white;">Or find more information on our <a href="https://twitter.com/VHP4Safety" style="color: #E6007E;">Twitter</a> and <a href="https://www.linkedin.com/company/virtual-human-platform-for-safety-assessment-vhp4safety/" style="color: #E6007E;">LinkedIn</a> profiles</p>

<p style="color: white;">Please visit <a href="https://www.sciencrew.com/c/6596/a/328990448?title=Contact_us" style="color: #E6007E;">here</a> to find more information to contact us.</p>
{% endblock %}
