{% extends "base.html" %}

{% block content %}
<h1 id="our-mission-and-vision" style="color: white;">Our Mission and Vision</h1>

<p style="color: white;">Towards safety assessment based on human data. Imagine a world in which we perform precision safety testing of chemicals and pharmaceuticals without using laboratory animals. Imagine that the safety of chemicals and pharmaceuticals can be assessed for vulnerable groups such as infants, the elderly or the diseased. Imagine that we know how these substances interact with human biology and physiology and how they can be used safely at home, school or at work during the course of our lives. This is our vision for the future, the vision that underlies the development of the Virtual Human Platform for Safety Assessment, VHP4Safety.</p>

<p><img src="https://www.sciencrew.com/media/?art=333921498&amp;url=https%3A%2F%2Fstorage.imgzine.com%2Fprotected%2F432-feed-538%2FiStock-1195694221.jpg&amp;v=0&amp;w=1200" style="width: 100%; height: auto;"/;></p>

<h2 id="towards-safety-assessment-based-on-human-data" style="color: white;">Towards Safety Assessment Based on Human Data</h2>

<p style="color: white;">The mission of the Virtual Human Platform is to improve the prediction of the potential harmful effects of chemicals and pharmaceuticals based on a holistic, interdisciplinary definition of human health by developing the Virtual Human Platform and accelerating the transition from animal-based testing to innovative safety assessment. The Virtual Human Platform integrates data on human physiology, chemical characteristics and perturbations of biological pathways, for the first time in an inclusive and integrated manner that incorporates:</p>

<ol type="1" style="color: white;">
<li>Human-relevant scenarios to discriminate vulnerable groups, such as disease state, life course exposure, gender and age</li>
<li>Chemicals from different sectors: pharma, consumer products and chemical industry</li>
<li>Different regulatory and stakeholder needs</li>
</ol>

<p style="color: white;">The Virtual Human Platform addresses the emerging societal challenge of the transition to animal-free safety assessment, by integrating various scientific disciplines in the consortium and working with all stakeholders towards implementation and societal acceptance of an approach to chemical safety assessment that is based on human data rather than animal data.</p>

<h2 id="moving-away-from-animal-experimentation" style="color: white;">Moving away from animal experimentation</h2>

<p style="color: white;">Current legal and regulatory frameworks for the assessment of the safety of chemicals and pharmaceuticals for human health rely predominantly on data from in vivo animal studies. However, the accuracy of animal studies to predict toxicity in humans is limited. In addition, current animal testing regimes do not reflect human-relevant scenarios, such as differences in susceptibility due to age, sexe, timing of exposure, or disease state. The Virtual Human Platform will be developed within three interacting research lines (RL):</p>

<ul style="color: white;">
<li>RL1: Building the platform</li>
<li>RL2: Feeding the platform with newly generated data</li>
<li>RL3: Implementing the platform to ensure stakeholders’ acceptance, governance and sustainability</li>
</ul>

<p style="color: white;">In a national and international arena urgently calling for the reduction of animal testing, the current approach to gradually refine, reduce and replace animal testing has not led to the necessary and desired pace of innovation in animal-free safety assessment. Furthermore, the opportunities offered by state-of-the-art technologies in human health and data science have hardly been yet explored in the realm of safety assessment.</p>

<p style="color: white;">VHP4Safety is a research project funded by the Dutch Research Council (NWO) programme entitled the ‘Dutch Research Agenda: Research on Routes by Consortia (NWA‐ORC).’ With a budget of over 10 million Euros, the project has started on June 1 2021 and will last for the duration of 5 years.</p>
{% endblock %}
