{% extends "base.html" %}

{% block content %}
<h1 id="partners-and-consortium" style="color: white;">Partners and Consortium</h1>

<p style="color: white;">The VHP consortium consists of leading scientific groups from Dutch universities, university medical centres, public health institutes and applied research organisations, with expertise spanning the technological, biological, chemical, medical as well as the social sciences. The co-funders and cooperation partners ensure the active involvement of diverse academic, regulatory, industrial and societal partners to the project throughout the entire safety assessment knowledge chain. As such, the VHP consortium unites necessary and complementary expertise to build, test and evaluate the VHP.</p>

<p style="color: white;">Please visit <a href="https://www.sciencrew.com/c/9319/a/329042452?title=VHP4Safety_Partners" style="color: #E6007E;">here</a> to see the list of VHP4Safety Partners. In addition, the full list of consortium members can be seen <a href="https://www.sciencrew.com/c/10002/a/334238431?title=VHP4Safety_Consortium" style="color: #E6007E;">here</a></p>

<p><img src="https://www.sciencrew.com/media/?art=329042452&amp;url=https%3A%2F%2Fstorage.imgzine.com%2Fprotected%2F432-feed-538%2FPartners.jpg&amp;v=0&amp;w=450" /></p>
{% endblock %}
