{% extends "base.html" %} {% block content %}
<header>
  <h1 id="partners-and-consortium">Partners and Consortium</h1>
</header>

<section class="consortium-intro">
  <p>
    The VHP consortium consists of leading scientific groups from Dutch
    universities, university medical centres, public health institutes, and
    applied research organisations. These groups bring expertise in
    technological, biological, chemical, medical, and social sciences.
  </p>
  <p>
    Co-funders and cooperation partners ensure active involvement from academic,
    regulatory, industrial, and societal stakeholders, covering the entire
    safety assessment knowledge chain. This collaboration unites the necessary
    and complementary expertise to build, test, and evaluate the Virtual Human
    Platform.
  </p>
</section>

<section class="consortium-links">
  <p>
    View the
    <a
      href="https://www.sciencrew.com/c/9319/a/329042452?title=VHP4Safety_Partners"
      >VHP4Safety Partners</a
    >. <br />
    See the full list of consortium members
    <a
      href="https://www.sciencrew.com/c/10002/a/334238431?title=VHP4Safety_Consortium"
      >here</a
    >.
  </p>
</section>

<section class="consortium-image">
  <img
    src="https://www.sciencrew.com/media/?art=329042452&amp;url=https%3A%2F%2Fstorage.imgzine.com%2Fprotected%2F432-feed-538%2FPartners.jpg&amp;v=0&amp;w=450"
    alt="VHP4Safety Partners"
  />
</section>
{% endblock %}
