{% extends "base.html" %} {% block content %}
<header>
  <h1 id="vhp4safety-research-lines">VHP4Safety Research Lines</h1>
</header>

<section class="research-intro">
  <p>
    The VHP will be developed within three interacting research lines (RL),
    involving:
  </p>
  <ul>
    <li>Building the platform (RL1)</li>
    <li>Feeding the platform with newly generated data (RL2)</li>
    <li>
      Implementing the platform (RL3) to ensure stakeholder acceptance,
      governance, and sustainability.
    </li>
  </ul>
</section>

<section class="research-image">
  <img
    src="https://raw.githubusercontent.com/VHP4Safety/vhp4safety-docs/main/introduction/vhp4safety_project_apporach.png"
    alt="VHP4Safety Project Approach"
  />
</section>

<section class="research-line">
  <h2 id="rl1-building-the-virtual-human-platform">
    RL1: Building the Virtual Human Platform
  </h2>
  <p>
    Research Line 1 focuses on the technical side of building the Virtual Human
    Platform by developing all the different tools and services needed for
    VHP4Safety.
  </p>
</section>

<section class="research-line">
  <h2 id="rl2-feeding-the-virtual-human-platform">
    RL2: Feeding the Virtual Human Platform
  </h2>
  <p>
    Research Line 2 focuses on feeding the Virtual Human Platform with in vitro
    data from our own experiments and case studies.
  </p>
</section>

<section class="research-line">
  <h2 id="rl3-implementing-the-virtual-human-platform">
    RL3: Implementing the Virtual Human Platform
  </h2>
  <p>
    Research Line 3 focuses on the acceptance and implementation of the Virtual
    Human Platform by looking at the broader societal context.
  </p>
</section>

<section class="research-link">
  <p>
    Find more details
    <a href="https://www.sciencrew.com/c/6608?title=VHP4Safety_Research_Lines"
      >here</a
    >.
  </p>
</section>
{% endblock %}
