{% extends "base.html" %}

{% block content %}
<h1 id="vhp4safety-research-lines" style="color: white;">VHP4Safety Research Lines</h1>

<p style="color: white;">The VHP will be developed within three interacting research lines (RL), that involve building the platform (RL1), feeding the platform with newly generated data (RL2), and implementing the platform (RL3) to ensure stakeholder acceptance, governance and sustainability.</p>

<p><img src="https://raw.githubusercontent.com/VHP4Safety/vhp4safety-docs/main/introduction/vhp4safety_project_apporach.png" style="width: 100%; height: auto;"/></p>

<h2 id="rl1-building-the-virtual-human-platform" style="color: white;">RL1: Building the Virtual Human Platform</h2>

<p style="color: white;">Research Line 1 focuses on the technical side of building the Virtual Human Platform by developing all the different tools and services needed for the VHP4Safety.</p>

<h2 id="rl2-feeding-the-virtual-human-platform" style="color: white;">RL2: Feeding the Virtual Human Platform</h2>

<p style="color: white;">Research Line 2 focuses on feeding the Virtual Human Platform with in vitro data from our own experiments and case studies.</p>

<h2 id="rl3-implementing-the-virtual-human-platform" style="color: white;">RL3: Implementing the Virtual Human Platform</h2>

<p style="color: white;">Research Line 3 focuses on the acceptance and implementation of the Virtual Human Platform by looking at the broader societal context.</p>

<p style="color: white;">Please visit <a href="https://www.sciencrew.com/c/6608?title=VHP4Safety_Research_Lines" style="color: #E6007E;">here</a> to find more detail about the research lines.</p>
{% endblock %}
