/* 
VHP4Safety Brand Colors: 
Dark Blue: #29235C 
Blue: #307BBF 
Pink: #E6007E 
*/

/* Define color variables */
:root {
  --dark-blue: #29235c;
  --blue: #307bbf;
  --light-blue: #e6e6fa;
  --pink: #e6007e;
  --white: #ffffff;
  --table-row-light-gray: #f2f2f2; /* For alternating table row colors */
}

html {
  scroll-behavior: smooth;
}

section {
  padding-top: 80px; /* Set to the height of your navbar */
  margin-top: -80px;
}

/* General Styling */
body {
  background-color: var(--blue);
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
}

/* Headings */
h1 {
  color: var(--white);
  text-align: center;
  border-bottom: 2px solid var(--white);
  padding-bottom: 0px;
  margin-top: 30px;
}

h2 {
  color: var(--white);
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Paragraphs */
p {
  font-size: 1.1rem;
}

/* Links */
a {
  color: var(--pink);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--dark-blue);
}

/* Images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

/* Footer */
footer {
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
}

/* Navigation Bar */
.navbar {
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 1px 3px var(--dark-blue);
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* Navbar brand (logo) */
.navbar-brand img {
  max-height: 50px;
  width: auto;
}

/* Navbar links */
.navbar-nav .nav-link {
  color: var(--dark-blue);
}

.navbar-nav .nav-link:hover {
  color: var(--pink);
}

/* Dropdown Styling */
.dropdown-menu {
  background-color: var(--white);
}

.dropdown-menu .dropdown-item {
  color: var(--dark-blue);
}

.dropdown-menu .dropdown-item:hover {
  background-color: var(--pink);
  color: var(--white);
}

/* Table Styling */
#results_container {
  background-color: var(--white);
  border: 2px solid var(--dark-blue);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--dark-blue);
  padding: 20px;
  margin-top: 20px;
  overflow-x: auto;
}

#results_table {
  width: 100%;
  min-width: 800px;
  border-collapse: separate;
  border-spacing: 0;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  font-size: 14px;
}

#results_table th,
#results_table td {
  border: 1px solid var(--dark-blue);
  padding: 8px;
  text-align: center;
}

#results_table th {
  background-color: var(--dark-blue);
  color: var(--white);
}

#results_table tbody tr:nth-child(odd) {
  background-color: var(--table-row-light-gray);
}

#results_table tbody tr:nth-child(even) {
  background-color: var(--white);
}

#results_table tbody tr:hover {
  background-color: var(--light-blue);
}

/* Service List */
.service-list ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}
.service-list a {
  color: var(--white);
  font-size: 1.2rem;
  text-decoration: none;
}

.service-list a:hover {
  color: var(--pink);
  text-decoration: underline;
}
