{% extends "base.html" %}

{% block content %}
  <header>
    <h1>Next Generation Risk Assessment of Silymarin</h1>
  </header>

  <p><b>Question:</b> Is there a risk of thyroid-mediated development neurotoxicity through MCT8 inhibition by silychristin when a pregnant woman takes silymarin supplements at a given dose, frequecy and duration (referring to the regulatory question 3a)?</p>

  <br>

  <p>Steps to complete the workflow to answer the question:</p>

  <ol>
  <li> External Exposure Assessment: The tools that assess the magnitude, frequency, duration and exposure routes of a given exposure </li>
    <ul>
      <li>Inputs: Magnitude, frequency, duration of silychristin exposure (numeric variables) and exposure route (categorical variable, e.g. oral) </li>
      <li>Outputs: </li>
    </ul>
  <li> Internal Exposure </li>
  <ul>
      <li>Inputs: </li>
      <li>Outputs: </li>
    </ul>
    <li> Hazard </li>
  <ul>
      <li>Inputs: </li>
      <li>Outputs: </li>
    </ul>
  <li> Report </li>
  <ul>
      <li>Inputs: </li>
      <li>Outputs: </li>
    </ul>
  </ol>

<!---
  <section class="qsprpred-info">
    <p>I will try to implement an API call to QSPR Pred on this page.</p>
  </section>
  ---> 
{% endblock %}
