{% extends "base.html" %}

{% block content %}
  <header>
    <h1>Welcome to VHP4Safety</h1>
  </header>

  <section class="home-intro">
    <p>
      Hi There! You have reached the public documentation pages for the Virtual Human Platform 
      for Safety Evaluation of Chemicals. This is a large Dutch research project, funded by NWO. 
      These pages contain information, documentation, installation instructions, and demos on how to use 
      the software, models, and data generated in the project.
    </p>
  </section>
{% endblock %}
